.footer-section {
  background-color: var(--footer-bg);
  color: var(--footer-text2);
  position: relative;
}

.footer-section ul li a {
  color: var(--footer-text) !important;
}

.footer-section ul li a:hover {
  color: var(--white) !important;
}

.footer-section .text-secondary {
  color: var(--footer-text) !important;
}

.bottom-custom-text {
  color: var(--footer-text);
}

.custom-icon {
  color: var(--footer-heading);
}

/* Specific styling for social icons */
.footer-section .text-secondary.mx-2 {
  font-size: 1.2rem;
}

.footer-section h6 {
  color: var(--footer-heading);
}

/* Styling for the sticky contact widget */
.sticky-contact-widget {
  position: fixed;
  bottom: 1px;
  right: 1px;
  width: fit-content;
  z-index: 999;
  overflow: hidden;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.sticky-contact-widget .btn {
  padding: 12px 60px;
  font-size: 15px;
  border: none;
  background-color: var(--light-blue);
  color: var(--white);
  cursor: pointer;
  border-radius: 5px 5px 0 0;
  white-space: nowrap;
  max-width: 90vw;
  box-sizing: border-box;
}

.sticky-contact-widget .btn:hover {
  background-color: var(--btn-sticky-hover);
}
