:root {
  --white: #ffffff;
  --light-blue: #2ab5cc;
  --theme-btn: #1c8a9c;
  --heading-text: #374151;

  --monarch-mini-card: #ea9f22;
  --lifepac-mini-card: #2ab5cc;
  --horizons-mini-card: #7686c5;
  --academy-mini-card: #45447f;

  --btn-monarch: #fcb13b;
  --btn-monarch-hover: #fcb23be1;
  --monarch-overlay: #fcb13bbf;

  --btn-lifepac: #27b6cd;
  --btn-lifepac-hover: #27b7cdd7;
  --lifepac-overlay: #2ab5ccbf;

  --btn-horizons: #7686c5;
  --btn-horizons-hover: #7686c5e0;
  --horizons-overlay: #7686c5bf;

  --btn-ignite: #45447f;
  --btn-ignite-hover: #45447fe0;
  --ignite-overlay: #45447fbf;

  --btn-robotify: #ee5253;
  --btn-robotify-hover: #ee5252da;
  --robotify-overlay: #ee5253bf;

  --btn-extra: #003c51;
  --btn-extra-hover: #003b51dc;

  --btn-learn-more-border: #d1d5db;
  --btn-learn-more-border-hover: #212529;
  --btn-learn-more: #374151;

  --program-card-bg: #ffffffea;
  --card-title: #343a40;
  --card-text: #374151;

  --blue-theme-section-bg: #e5fafb;
  --btn-bottom-section: #111827;
  --btn-bottom-section-hover: #fffffdd3;
  --btn-primary-custom2: #4a91e200;
  --btn-primary-custom2-hover-bg: #b6b6b62a;

  --btn-sticky-hover: #2190a3;
  --btn-primary-custom-hover: #2b7480;
  --blockquote-custom: #6b7280;
  --blockquote-custom-border-top: #d1d5db;
  --text-uppercase-custom: #828282;

  --footer-bg: #1f2937;
  --footer-text2: #ecf0f1;
  --footer-text: #d1d5db;
  --footer-heading: #9ca3af;
}

.nav-link:hover {
  color: var(--theme-btn);
}

/* Top Bar Container Styles */
.top-bar {
  background-color: var(--light-blue);
  color: var(--white);
  font-size: 0.9rem;
}

/* Max 376px and low [Smaller Screens] */
@media (max-width: 376px) {
  .top-bar span {
    font-size: 0.65rem;
  }
}

/* From min 377px to 420px [Small-Medium Screens] */
@media (min-width: 377px) and (max-width: 420px) {
  .top-bar span {
    font-size: 0.8rem;
  }
}

/* Tablet screens - span message */
@media (min-width: 768px) {
  .top-bar span {
    font-size: small;
  }
}

/* Min 992px and up [Medium-Large Screens] */
@media (min-width: 992px) {
  .top-bar span {
    font-size: 0.95rem;
  }
}

/* Tablet screens nav link */
@media (min-width: 768px) and (max-width: 800px) {
  .nav-link {
    font-size: small;
  }
}
