body {
  font-family: "Inter", sans-serif;
}
.hero-section {
  background-image: url("assets/hero-background.png"); /* Placeholder for the background image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: white;
  padding-top: 8rem; /* py-20 equivalent */
  padding-bottom: 8rem; /* py-20 equivalent */
  max-height: 500px;
}
.hero-overlay {
  background-color: rgba(0, 0, 0, 0.4); /* Dark overlay for text readability */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.btn-custom-primary {
  background-color: #4a91e200; /* Blue button */
  border-color: #ffffff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.btn-custom-primary:hover {
  background-color: #b6b6b62a;
  border-color: #ffffff;
}
