body {
  font-family: "Inter", sans-serif;
}
.hero-section {
  background-image: url("assets/hero-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  color: var(--white);
  padding-top: 8rem;
  padding-bottom: 8rem;
  max-height: 500px;
}
.hero-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.btn-custom-primary {
  background-color: var(--btn-primary-custom2);
  border-color: var(--white);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.btn-custom-primary:hover {
  background-color: var(--btn-primary-custom2-hover-bg);
  border-color: var(--white);
}
